<div ng-app="crossword" class="container">
	<h1>Crossword</h1>
	<div class="" ng-controller="CrosswordController">
		<div class="crossword-row" ng-repeat="row in grid.cells">
			<div class="crossword-cell {{ cell.state }}" style="width: {{ getCellSize() }}; height: {{ getCellSize() }}" ng-repeat="cell in row" ng-click="cellClick(cell)" ng-model="cell.state">
			</div>
		</div>
	</div>
</div>